.happy-clients-section {
    background-color: #1e1e1e; /* Dark greenish-gray background */
    padding:  10px 0px  40px 0px;
    box-sizing: border-box;
    color: #cfcfcf; /* Light gray for text */
    height: auto;
}

.happy-clients-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.happy-clients-card {
    background-color: #252525; /* Slightly lighter gray for the card */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
    width: 300px;
    transition: scale 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
}


.happy-clients-card:hover {
    scale: 1.1;
}

.client-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.quotes-pic {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.8;
    border: none;
    width: 20px;
    height: 20px;
}

.happy-clients-card h3 {
    color: #b0afaf; /* Light gray for headings */
    font-size: 1.5rem;
    margin-top: 10px;
}

.happy-clients-card  p {
    color: #cfcfcf; /* Light gray for text */
    font-size: 0.9rem;
    line-height: 1.4;
}
.happy-clients-card > p {
    flex: 1;
}

.client-profession {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.client-profession p {
    font-size: 1rem;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: #2f2f2f; /* Slightly darker gray for contrast */
    color: #cfcfcf;
}

.client-profession p:first-child {
    font-weight: bold;
}

.client-profession p:nth-child(2) {
    background-color: #191919; /* Darkest gray for additional contrast */
}

