.filldb-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filldb-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(assets/images/login-bg.jpg);
  background-size: cover;
  background-position: center;
}
.login-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.login-form {
  width: fit-content;
  padding: 60px;
  height: 50%;
  background-color: rgba(38, 41, 38, 0.677);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-input {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
  border: 0px solid rgb(224, 224, 224);
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
  padding: 0 10px;
  margin: 10px 0;
}
.login-input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.login-submit {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
  margin-top: 20px;
  background-color: rgb(69, 163, 70);
  color: rgb(242, 234, 234);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.login-submit:hover {
  background-color: rgb(5, 141, 50);
}
