



.lineAnimation {
    height: 0vh;
    width: 7rem;
    border-radius: .4rem;
    margin-left: 2rem;
    background: #262926;
    position: absolute;
    top:5%;
    scale: 1 1;
    animation: scroll-watcher linear forwards;
    /* animation-timeline: scroll(root); */
    animation-timeline: view(0px 100px);
    overflow: hidden;
}
@keyframes scroll-watcher{
    from {
        min-height: 0px;
        height: 0px;
    }
    to {
        min-height: 95%;
        height: 95%;
    }
}
.intership-project{
    width: 100rem;
    height: 40vh;
    background-color: #1e1e1e;
    border-radius: .5rem;
    margin-left: 10rem;
    margin-top: 7rem;
    position: relative;
    display: flex;
    align-items: center;

}
.intership-project__img{
    width: 275px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intership-project__logo{
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(https://via.placeholder.com/100);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.intership-project__content{
    width: calc(95% - 275px);
    height: 200px;
    background: red;
}