:root {
  --bg1: url("../../public/1.jpeg");
  --bg2: url("../../public/2.jpeg");
  --bg3: url("../../public/3.jpeg");
  --bg4: url("../../public/1.jpeg");
}

@function get-background($index) {
  @return var(--bg#{$index});
}


.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  max-width: 1100px;
  height: 70vh;
  max-height: 900px;
  padding: 1rem;
  margin: 0 auto;

  .box {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: get-background($i);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 200%;
      }
    }

    width: 25%;
    height: 440px;
    border-radius: 25px;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
    position: relative;
    overflow: hidden;

    .overlay {
      opacity: 0;
    }

    &.closed {
      width: 5%;
      .overlay {
        opacity: 1;
      }
    }

    &.expanded {
      width: 85%;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
