.project__technologes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #212121;
}

.project__technologes__title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 20px;
  color: #00ff0086;
  padding: 10px;
  float: left;
}

.project__technologes__list {
  list-style-type: none;
  padding: 3rem 3rem;
  margin: 0;
  width: 95%;
  height: 100%;
  margin: auto;
  margin-bottom: 4rem;
  background: #333333;
  box-shadow: rgba(45, 184, 17, 0.685) -2.4px 2.4px 3.2px;
}

.project__technologes__item {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 15px;
  border: 0.5rem solid #212121;
  border-top: none;
  color: #bbbbbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
/* hover lighter*/
.project__technologes__item:hover {
  background: #4c4c4c;
}
.project__technologes__item > span {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.project__technologes__item:hover > span {
  opacity: 1;
}

.project__technologes__item:nth-child(1) {
  border-top: 0.5rem solid #212121;
}