/* MusicPicks.module.css */

.MusicPicks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.musicSection {
    margin-bottom: 40px;
    width: 100%;
}



.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.MusicPicks img {
    width: 70%;
    max-width: 100%;
    height: auto;

}
.sectionTitle h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    color: #c8c8c8;
}

.sectionTitle button {
    font-size: 14px;
    font-weight: bold;
    color: #888;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sectionTitle button:hover {
    color: #c8c8c8;

}


.musicCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;

}

.musicCard {
    background-color: #181818;
    border-radius: 8px;
    padding: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 200px;
}

.musicCard:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
    cursor: pointer;
}

.musicCard img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.musicCard::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: url("../../assets/images/play-button.png") no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 0;
}
.musicCard:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
}

.musicCard h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c8c8c8;
    width: 100%;
}

.musicCard p {
    font-size: 14px;
    color: #888;
}


.podcastCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
    margin-top: 3rem;
}

.podcastCard {
    background-color: #181818;
    border-radius: 8px;
    padding: 10px;
    height: 125px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
}

.podcastCard:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
    cursor: pointer;
}

.podcastCard img {
    max-height: 150px;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.podcastInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.podcastInfo h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c8c8c8;
}

.podcastInfo p {
    font-size: 14px;
    color: #888;
}


/* responsive : mobile */
@media (max-width: 768px) {
    .musicCards {
        justify-content: center;
    }

    .musicCard {
        width: 150px;
    }

    .musicCard img {
        max-height: 150px;
    }

    .podcastCards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .podcastCard {
        height: 175px;
        width: 100%;
    }

    .podcastCard img {
        height: 100%;
        width: 50%;
    }

    .podcastInfo h3 {
        font-size: 14px;
    }

    .podcastInfo p {
        font-size: 12px;
    }
}