/* li {
  background-color: #00ff66 !important;
} */
/* li > a{
  background-color: #ff0000 !important;
} */


/* font var */
:root {
  --font-family: "poppins", sans-serif;
}

@media screen and (max-width: 4000px) {
  .root {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navbar__menu__list > li > a.active::after {
    /* background: rgb(38, 43, 69);
    border-radius: 5px; */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #d91706a3;
    

  }
  #header-sign-up-btn {
    background: transparent !important;
    border: 0 !important;
  }

  /* homepage sidebar */
  .preview-bar.admin-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
  }

  .root.blogbody {
    flex-wrap: nowrap;
  }

  footer {
    min-width: 100%;
  }

  .root > header {
    max-height: 100%;
    min-height: 100%;
    max-width: 300px;
    background: #191919;
    position: relative;
    min-width: 300px;
  }

  .navbar {
    background: transparent;
    width: 300px;
    position: fixed;
    padding: 0;
  }

  .navbar__header {
    display: block;
  }

  .navbar__header__logolink {
    display: block;
    margin: 20px auto;
    background: url("../public/logo.jpg");
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
  }

  .navbar__menu {
    border-top: 1px solid #252525;
  }

  .navbar__menu__list.hidden {
    display: block;
    width: 100%;
  }

  .navbar__menu__list > li > a {
    margin-left: 0;
    color: #bbb;
  }

  .inner-menu {
    position: relative;
    background: #222;
    border: none;
    font-size: 1.1em;
    line-height: 16px;
    padding: 16px;
    margin-top: 16px;
    margin: 16px 20px;
  }

  .navbar__menu .gravatar {
    margin-right: 5px;
  }

  .navbar__menu__list li li {
    margin: 0;
    margin-bottom: 2px;
  }

  .navbar__menu__list > li {
    display: flex;  
    align-items: center;
    justify-content: center;
  }

  .navbar__menu__list > li:last-child {
    margin-top: 12px;
  }

  .navbar__menu__list > li > a,
  .navbar__menu__list button {
    color: #bbb;
    margin-left: 0;
    padding: 2px 14px !important;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    width: 90%;
  }

  .navbar__menu__list a::before {
    content: "library_books";
    font-family: "Material Icons";
    margin-right: 10px;
    font-size: 1.2em;
    position: relative;
    top: 4px;
    font-weight: normal;
  }

  .navbar__menu__list a:hover,
  .navbar__menu__list button:hover {
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
  }

  .navbar__menu__list .inner-menu a {
    border: 0;
  }

  li #user-menu a {
    font-weight: normal;
    font-size: 0.9em;
  }

  li #user-menu a::before {
    display: none;
  }

  /* courses page navbar */
  .root.second {
    display: flex;
  }

  .view-school {
    flex-grow: 1;
  }

  .navbar-fedora .container {
    width: 100%;
    padding: 0;
  }

  .navbar-fedora .navbar-header {
    height: auto;
  }

  .navbar-fedora .navbar-brand.header-logo {
    display: block;
    margin: 40px auto;
    width: 116px;
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0;
  }

  .navbar-fedora .navbar-brand.header-logo img {
    height: auto;
    width: 116px;
  }

  .navbar-collapse.collapse {
    padding-top: 40px;
    border-top: 1px solid #252525;
  }

  .lecture-page-layout .navbar-collapse.collapse {
    padding-top: 0;
  }

  ul.navbar-right {
    display: block;
    width: 100%;
    float: none !important;
  }

  .navbar-nav > li {
    float: none !important;
  }

  .nav.navbar-nav > li a.fedora-navbar-link,
  .nav.navbar-nav > li a#header-sign-up-btn {
    margin-left: 0 !important;
    margin-top: 8px;
    padding-top: 0px !important;
    color: #bbb !important;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    float: none !important;
    text-align: left;
    padding-bottom: 5px !important;
    border-left: 6px solid #191919 !important;
    background: transparent !important;
  }

  .navbar-nav > li > .dropdown-menu {
    position: relative;
    background: #222;
    border: none;
    font-size: 1.1em;
    line-height: 16px;
    padding: 16px;
    margin-top: 12px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-nav > li > .dropdown-menu a {
    color: #bbb !important;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-left: 6px;
    padding: 8px 12px;
  }

  .navbar-nav > li > .dropdown-menu a:hover {
    background: transparent;
    color: white !important;
  }

  .nav.navbar-nav > li a.fedora-navbar-link.current-page,
  .navbar__menu ul li a.current-page {
    border-left: 6px solid #d91b42 !important;
    color: white !important;
    /* margin-left: 0 !important; */
  }

  .nav.navbar-nav > li a.fedora-navbar-link:hover {
    background: transparent !important;
    color: #fff;
  }

  .nav.navbar-nav > li .fedora-navbar-link::before,
  .nav.navbar-nav > li a#header-sign-up-btn::before {
    content: "library_books";
    font-family: "Material Icons";
    margin-right: 10px;
    font-size: 1.2em;
    position: relative;
    top: 4px;
    font-weight: normal;
  }

  .navbar-fedora .gravatar,
  .navbar__menu .gravatar {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .navbar-fedora .navbar-current-user,
  .navbar__current-user {
    display: inline-block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    text-align: left;
  }

  .navbar__current-user {
    top: 0;
  }

  /* icons for navbar, both page styles */

  .nav.navbar-nav > li .fedora-navbar-link[href="/resume"]::before,
  .navbar__menu__list a[href="/resume"]::before {
    content: "assignment_ind";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/"]::before,
  .navbar__menu__list a[href="/"]::before {
    content: "home";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/projects"]::before,
  .navbar__menu__list a[href="/projects"]::before,
  .nav.navbar-nav > li a#header-sign-up-btn::before {
    content: "code";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/skills"]::before,
  .navbar__menu__list a[href="/skills"]::before {
    content: "build";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/articles"]::before,
  .navbar__menu__list a[href="/articles"]::before {
    content: "library_books";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/reports"]::before,
  .navbar__menu__list a[href="/reports"]::before {
    content: "assignment";
  }

  .nav.navbar-nav > li .fedora-navbar-link[href="/blog"]::before,
  .navbar__menu__list a[href="/blog"]::before {
    content: "article";
  }

  .nav.navbar-nav > li .fedora-navbar-link.open-my-profile-dropdown::before {
    content: "";
    margin-right: 0;
    content: "";
  }
  .navbar__menu__list > hr {
    margin: 0;
    border: none;
    border-bottom: .2px solid #3333337e;
  }


  .home-introduction-section {
    min-height: 55vh;
    width: 100%;
    background: url("./assets/images/home-section-bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* opacity: 0.2; */
  }
  .home-introduction-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, transparent 0%, #262926 100%);
  }
  .home-introduction-section__title {
    color: rgb(255, 255, 255);
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    /* text-shadow: 0 0 5px rgba(206, 203, 203, 0.775); */
    margin-top: 7vh;
    margin-left: 3vw;
    font-size: clamp(1rem, 3vw + 1rem, 3.5rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }




  .home-introduction-section__subtitle {
    color: rgb(214, 214, 214);
    font-size: 2em;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    margin-left: 3vw;
    font-family: var(--font-family);
  }
  .home-introduction-section__button {
    margin-left: 5vw;
    padding: 10px 50px;
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: #79d558;
    border: none;
    font-family: var(--font-family);
  }
  .home-introduction-section__button span {
    margin-left: 20px;
  }

  .home-introduction-section__img {
    position: absolute;
    bottom: 13.5vh;
    right: 7vw;
    width: 688.5px;
    height: 154.5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  .home-introduction-section__img:hover{

    transform: translateY(15px);
  }
  .home-projects-section {
    height: auto;
    width: 100%;
    /* background: transparent; */
  }
  .home-projects-section__title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 2vh;
    font-family: var(--font-family);
  }
  .home-projects-section__hr {
    height: 0.5px;
    width: 95%;
    border-width: 0;
    color: #6a6666;
    background-color: #6a6666;
  }
  .home-projects-section__projects {
    height: auto;
    width: 90%;
    margin: 0 auto;
    /* background: red; */
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: center;
    padding: 20px;
  }
  .home-projects-section__projects__project {
    background: #333232;
    border-radius: 5px;
    width: 325px;
    height: 400px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in 0.22s;
  }
  /* hover animation rotate */
  .home-projects-section__projects__project:hover {
    /* border:3px solid rgba(0, 255, 255, 0.671); */
    transform: rotateZ(-1.5deg) scale(1.1);
    box-shadow: 5px 7px 9px rgb(0 0 0 / 20%);
  }
  .home-projects-section__projects__project__img {
    height: 45%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    /* background-image: url(../images/1.jpg); */
  }
  .home-projects-section__projects__project__title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 2vh;
    margin-left: 1.5vw;
    margin-bottom: 2vh;
    font-family: var(--font-family);
  }
  .home-projects-section__projects__project__description {
    color: rgb(194, 189, 189);
    width: 90%;
    line-height: 1.5em;
    font-size: 1em;
    font-family:'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    margin-top: 2vh;
    margin-left: 1.5vw;
    margin-bottom: 2vh;
  }
  /* put in buttom */
  .home-projects-section__projects__project__buttons {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .home-projects-section__projects__project__buttons__view {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: #d91b42;
    color: #fff;
    border: none;
    font-family: var(--font-family);
  }
  .home-projects-section__projects__project__buttons__sponsor {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: #474747e2;
    border-style: dotted;
    font-size: 1.01em;
    color: gray;
    font-family: var(--font-family);
  }
  .github-progress-section {
    min-height: 65vh;
    width: 100%;
    /* background: transparent; */
  }
  .github-progress-section__title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 2vh;
    font-family: var(--font-family);
  }
  .github-progress-section__hr {
    height: 0.5px;
    width: 95%;
    border-width: 0;
    color: #6a6666;
    background-color: #6a6666;
  }
  .github-progress-section__img {
    height: 75%;
    width: 90%;
    margin: 0 auto;
    margin-top: 4vh;
    border-radius: 5px;
    position: relative;
  }
  .visible > .github-progress-section__img{
    background: url(https://github-readme-activity-graph.vercel.app/graph?username=bellaabdelouahab&bg_color=262926&color=c0bfc0&line=eb3a0e&point=f18701&area=true&hide_border=true) 100% 100% no-repeat;
    background-size: 100% 120%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .github-progress-section__img::after,.github-progress-section__img::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(45deg, #e6fb04,#ff6600,#00ff66,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 300% 400%;
    border-radius: 5px;
    animation: gradient 5s linear infinite;
    z-index: -1;
    filter: blur(10px);
    opacity: .2;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



  .internship-projects-section{
  min-height: 150vh;
  }

  .home-about-sections {
    margin-top: 5vh;
    height: fit-content;
    width: 100%;
    background: #1e1e1e;
    position: relative;
  }
 .home-sections-title{
    font-size: large;
    font-weight: 600;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: min-content;
    margin-left: 2vw;
    color: white;
    padding-top: 4vh;
    margin-bottom: 4vh;
  }
  .home-sections-title > span{
    color: #2ac17f;
    margin-right: 5px;
    padding-right: 10px;
  }
  .home-sections-title > hr{
    width: 20vw;
    background: #233554;
    opacity: 0.5;
    padding-left: 10px;
  }
  .about-content{
    position: relative;
    width: 80%;
    margin: auto;
    height: 60vh;
    /* background: red; */
  }
  .about-content-main {
    width: 25%;
    height: 70%;
    position: absolute;
    top: 60px;
    right: 0vw;
    border-radius: 5px;
    background: #1e1e1e; 
    z-index: 1;
  }
  #about-content-img_flow{
    position: relative;
    min-height: 280px;
    max-width: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 5px;
  }
  #about-content-img_flow::before{
    content: " ";
    background: #373737;
    border-radius: 5px;
    height:100%;
    width: 100%;
    position: absolute;
    /* top: 10px;
    left: 10px; */
    /* z-index: -1; */
    opacity: 0.5;
    transition: all 0.5s ease;
  }
  #about-content-img_flow::after{
    content: " ";
    background: transparent;
    border: 3px solid #80cbc4;
    border-radius: 5px;
    height:100%;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    transition: all 0.5s ease;
  }
  #about-content-img_flow:hover::before{
    opacity: 0.2;
  }
  #about-content-img_flow:hover::after{
    /* border-color: #000; */
    top: 10px;
    left: 10px;
  }
  .about-content > p {
    padding-top: 4vw;
    width: 70%;
    font-size: 12px;
    font-weight: 700;
    color: rgb(178, 177, 177);
    line-height: 2rem;
    text-align:justify
  }
  .about-content-skills_title{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: min-content;
    color: #29b578;
    padding-top: 2vh;
    /* underline the text */
    text-decoration: underline;
  }
  .about-skills-list {
    width: 100%;
  }
  .about-skills-list > ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 250px));
    gap: 5px 10rem;
    padding: 0px;
    margin: 1vh 0px 0px;
    padding: 1vh;
    overflow: hidden;
    list-style: none;
  }
  .about-skills-list > ul > li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    width: max-content;
    color: #aeaeae;
  }
  .about-skills-list > ul > li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: green;
    font-size: 1.5rem;
    line-height: 12px;
  }

  .get-in-touch-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #aeaeae;
    line-height: 2rem;
    text-align:center;
    letter-spacing: 2px;
  }
  .get-in-touch-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
  }
  .get-in-touch-btn > a > button{
    text-decoration: none;
    color: rgb(46, 45, 45);
    background: #2ac17f;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    border: 1px solid #2ac17f;
    outline: none;
    cursor: pointer;
  }
  /* .get-in-touch-btn > a > button{
    background: transparent;
  } */
  .get-in-touch-btn > a > button:hover{
    background: #1e1e1e;
    color: #2ac17f;

  }

  .happy-clients-section{
    height: fit-content;
  }

  .happy-clients-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: fit-content;
    padding: 20px;
  }

  .happy-clients-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .happy-clients-card > .client-pic , .happy-clients-card > .quotes-pic{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .quotes-pic{
    left: 90% !important;
    border: none !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 0px !important;
    opacity: .7;
  }


  .happy-clients-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    margin-top: 8rem;
  }

  .happy-clients-card p {
    font-size: 1rem;
    color: #666;
  }
  .client-profession {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .client-profession p:first-child {
    color: #2ac17f;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .client-profession p:nth-child(2) {
    color: #666;
    font-size: 1rem;
  }

  .social-networks{
    position: absolute;
    width: 3rem;
    height: 155px;
    background: #282c35;
    z-index: 100;
    /* move it to the right */
    right: 0;
    top: calc(50% - 77.5px);
    /* margin-right: 1rem; */
    border-radius: 1rem 0 0 1rem ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
}