.filldb-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 4vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    width: 50%;
}

.filldb-form input[type="text"],
.filldb-form input[type="file"],
.filldb-form input[type="submit"] {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #555;
    background: #444;
    color: #fff;
    font-family: "Arial", sans-serif;
}

.filldb-form input[type="file"]{
    padding: 18px 16px;
}

.filldb-form input[type="file"]::before {
    content: 'Upload image 16:9';
    color: white;
    background-color: #2196f3;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 1rem ;
}

.filldb-form input[type="file"]::file-selector-button {
  display: none;
}



.filldb-form input[type="submit"] {
    background-color: #28a745;
    border: none;
    cursor: pointer;
}

.filldb-form input[type="submit"]:hover {
    background-color: #218838;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filldb-nav__btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #444;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
}

.filldb-nav__btn:hover {
    background: #555;
}

.input-flow {
    position: relative;
    height: 4.3rem;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    font-size: 1.4rem;
    color: #ccc;
    transition: all 0.3s;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: 0.5rem;
    font-size: 1rem;
    color: #2196f3;
}

@media (max-width: 768px) {
    .filldb-form {
        width: 90%;
    }

    .filldb-nav__btn {
        width: 100%;
        text-align: center;
    }
}