.project__tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  background: #212121;
}

@media (max-width: 768px) {
  .project__tools {
    flex-direction: column;
  }
}